  @import './colors';

  .submit-button {
      background-color: $text-dark !important;
      color: $title-dark !important;
      font-weight: bold !important;

      &:hover {
          background-color: inherit !important;
          color: $text-dark !important;
          border: 1px solid $text-dark !important;
      }
  }


  .custom-button-fill {
      background-color: $text-dark !important;
      color: $title-dark !important;
      border: 0px solid $text-dark !important;

      &:hover {
          background-color: inherit !important;
          color: $text-dark !important;
          border: 1px solid $text-dark !important;
      }
  }


  .custom-button-outline {
      background-color: inherit !important;
      color: $text-dark !important;
      border: 1px solid $text-dark !important;

      &:hover {
          background-color: $text-dark !important;
          color: $title-dark !important;
          border: 0px solid $text-dark !important;
      }
  }